<div class="container">
  <div class="wrapper col-md-8 col-sm-10 col-ex-6">
    <%= form_for(@collection) do |f| %>
      <% if @collection.errors.any? %>
        <div id="error_explanation">
          <h2 class = "error"><%= pluralize(@collection.errors.count, "件のエラーがあります")%></h2>

          <ul>
          <% @collection.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <h1 class = "blue" >※新規作成 </h1>
        <p class = "title"><%= f.text_field :title, size: "101", placeholder: "タイトル"%></p>
          <br>
        <p class = "content"><%= f.text_area :content, size: "100x30", placeholder: "内容" %></p>
          <br>
        <h1 class = "blue" >※開催場所</h1><br>
        <p class = "place"><%= f.text_field :place, size: "101",placeholder: "場所" %></p>
          <br>
        <h1 class = "blue" >※開催日時</h1>
          <br>
        <p class = "date"><strong>日付：<%= f.date_field :date%></strong></p>
          <br>
        <p class = "starttime"><strong>開始時間：<%= f.time_field :starttime%></strong></p>
          <br>
        <p class = "endtime"><strong>終了時間：<%= f.time_field :endtime%></strong></p>
          <br>
        <h1 class = "blue" >※定員数</h1>
        <p class = "capacity"><%= f.text_field :capacity, placeholder: "定員" %>人</p><br>
        <h1 class = "blue" >※イメージ写真</h1>
        <p class = "form-picture"><%= event_img(@collection) if event_img(@collection) %></p>
           <p><%= f.file_field :picture %></p>
           <p><%= f.hidden_field :picture_cache %></p>
      <div class="Contribution">
        <%= f.submit '投稿',class: 'btn-success btn btn-lg' %>
      </div>
    <% end %>
  </div>
</div>
