<div class="container">
  <div class="wrapper col-md-4 col-sm-10 col-ex-6">
    <%= form_for(@collection) do |f| %>
      <% if @collection.errors.any? %>
        <div id="error_explanation">
          <h2 class = "error"><%= pluralize(@collection.errors.count, "件のエラーがあります")%></h2>

          <ul>
          <% @collection.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <h1>新規イベント作成 </h1>
        <p class = "title"><%= f.text_field :title, size: "101", placeholder: "タイトル"%></p>
          <br>
        <p class = "content"><%= f.text_area :content, size: "100x30", placeholder: "内容" %></p>
          <br>
        <p class = "place"><%= f.text_field :place, size: "101",placeholder: "場所" %></p>
        <h1>イベント開催日時</h1>
          <br>
        <p class = "date">日付：<%= f.date_field :date%></p>
          <br>
        <p class = "starttaime">開始時間：<%= f.time_field :starttime%></p>
          <br>
        <p class = "endtime">終了時間：<%= f.time_field :endtime%></p>
          <br>
        <h1>定員数</h1>
        <p class = "capacity"><%= f.text_field :capacity, placeholder: "定員" %>人</p>



      <div class="Contribution">
        <%= f.submit '投稿',class: 'btn-success btn-block' %>
      </div>
    <% end %>
  </div>
</div>
