<div class="container">
  <div class="wrapper col-md-4 col-md-offset-4 col-sm-10 col-ex-6">
    <%= form_for(@collection) do |f| %>
      <% if @collection.errors.any? %>
        <div id="error_explanation">
          <h2 class = "error"><%= pluralize(@collection.errors.count, "件のエラーがあります")%></h2>

          <ul>
          <% @collection.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <p class = "title"><%= f.text_field :title, placeholder: "タイトル"%></p>
         <br>
        <p class = "content"><%= f.text_area :content, placeholder: "内容" %></p>
         <br>
        <p class = "place"><%= f.text_field :place, placeholder: "場所"%></p>
         <br>
        <p class = "capacity"><%= f.text_field :capacity, placeholder: "定員" %>人</p>
          <br>
        <p class = "date"><%= f.date_field :date%></p>
         <br>
        <p class = "starttaime"><%= f.time_field :starttime%></p>
         <br>
        <p class = "endtime"><%= f.time_field :endtime%></p>


      <div class="actions">
        <%= f.submit '投稿',class: 'btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
