<div class = "container">
  <div class = "row">
    <div class="col-md-4 col-sm-12 col-ex-6">
      <%= form_for(@collection) do |f| %>
        <% if @collection.errors.any? %>
          <div id="error_explanation">
            <h2 class = "error"><%= pluralize(@collection.errors.count, "件のエラーがあります")%></h2>

            <ul>
            <% @collection.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

      <h1 class = "blue" >※新規作成 </h1>
      <p class = "title"><%= f.text_field :title, size: "50", placeholder: "タイトル"%></p>
      <h1 class = "blue" >※開催場所</h1><br>
      <p class = "place"><%= f.text_field :place, size: "50",placeholder: "場所" %></p>
        <br>
      <p><%= f.text_field :url, size: "50",placeholder: "開催場所のサイトurl" %></p>
      <h1 class = "blue" >※開催日時</h1>
        <br>
      <p class = "date"><strong>日付：<%= f.date_field :date%></strong></p>
        <br>
      <p class = "starttime"><strong>開始時間：<%= f.time_field :starttime.to_s %></strong></p>
        <br>
      <p class = "endtime"><strong>終了時間：<%= f.time_field :endtime.to_s %></strong></p>
        <br>
      <h1 class = "blue" >※定員数</h1>
      <p class = "capacity"><%= f.text_field :capacity, placeholder: "定員" %>人</p>
        <br>
    </div>
    <div class = "col-md-8">
      <h1 class = "blue content">※内容</h1>
      <p class = "content"><%= f.text_area :content, size: "105x30", placeholder: "持ち物、費用等" %></p>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-12">
      <div class = "center">
        <h1 class = "blue form_photo" >※イメージ写真</h1>
        <p class = "form-picture"><%= event_img(@collection) if event_img(@collection) %></p>
        <p><%= f.file_field :picture, class: "choise_file" %></p>
        <p><%= f.hidden_field :picture_cache %></p>
        <div>
          <p><%= f.submit '投稿',class: 'btn-success btn btn-block' %></p><br>
        </div>
      <% end %>
    </div>
  </div>
</div>
