<div class="container event">
  <p id="notice"><%= notice %></p>
  <% @collections.each do |collection| %>
  <%= link_to collection_path(collection) do %>
  <div class="event-child col-md-4 col-md-offset- col-sm-4 col-xs-6 ">
    <p>題名:<%= collection.title %></p>
    <p>場所:<%= collection.place %></p>
    <p>日付:<%= collection.date %></p>
    <p>開始時間:<%= collection.starttime%></p>
    <% unless collection.picture.blank?%>
      <p class = "event-picture"><%= image_tag collection.picture %></p>
    <% else %>
      <p class = "event-picture"><%= image_tag 'no_image.png' %></p>
    <% end %>
  <% end %>
  </div>
  <% end %>
  </div>
</div>
