<div class="container">
  <div class = "row">
    <div class="wrapper col-md-8  col-sm-8">
      <p id="notice"><%= notice %></p>

      <script>
      $(function () {
        $("#notice").hide(2500);
      });
      </script>

      <div class = "collection-info">
        <p class = "show-picture"><%= event_img(@collection) %></p>
        <p><strong>タイトル</strong></p>
        <p class = "center"><strong><%= @collection.title %></strong></p>
        <p><strong>内容</strong></p>
        <p><strong><%= @collection.content %></strong></p>
        <p><strong>場所：<%= @collection.place %></strong></p>
        <p><strong>開催場所URL<br>
        <%= link_to @collection.url, @collection.url %></p>
        <p><strong>参加者：<%= joins_counter(@collection.joins) %> / <%= @collection.capacity %></strong></p>
        <p><strong>日付：<%= @collection.date %></strong></p>
        <p><strong>開始時間：<%= @collection.starttime %></strong></p>
        <p class = "show-endtime"><strong>終了時間：<%= @collection.endtime %></strong></p>
      <div class = "show_user_info">
        <p class = "user-picture">主催者: <strong><%= link_to user_path(@collection.user.id) do %><%= @collection.user.name %></strong>
          <%= profile_img(@collection.user) %></p>
        <% end %>
      </div>
      <div class = "show_icon">
        <% if @collection.user.id == current_user.id %>
          <p><%= link_to " ", edit_collection_path(@collection),class:'fa fa-pencil-square-o fa-lg',method: :get %>
          <%= link_to " ", @collection, method: :delete, data: { confirm: '本当に削除してもいいですか?' },class: 'glyphicon glyphicon-trash' %></p>
        <% else %>
          <p><%= render partial: 'keeps/collection_keep', locals: { keep: @keep, collection: @collection } %></p>
        <% end %>
      </div>

      <div class = "right   share_bottun">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

      <p class = "comments"><strong>[コメント一覧]</strong></p>
      <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments, collection: @collection } %>
      </div>
        <%= render partial: 'comments/form', locals: { comment: @comment, collection: @collection } %>
      </div>
    </div>

    <div class="col-md-3  col-sm-3 center">
      <div id = "join_area">
        <%= render partial: 'joins/collection_join', locals: { join: @join, collection: @collection } %>
      </div>
      <div class = "joiner">
        <%= render partial: 'joins/collection_index', locals: { collection: @collection } %>
      </div>
    </div>
  </div>
</div>
