<% if @over_ten %>
  <p class = "center"><%= link_to '以前のメッセージ', '?m=all' %></p>
<% end %>

<div class="container_field">
  <% @messages.each do |message| %>
    <% if message.body %>
      <% user = User.find(message.user_id) %>
      <% if current_user == user %>
        <div class = "row right">
          <div class = "col-md-6 col-md-offset-6  col-sm-6 col-sm-offset-6  col-xs-6 col-xs-offset-6">
            <p  class = "right new_line current_user_message_box"><%= message.body %>
          </div>
        </div>
      <% else %>
        <div class = "row">
          <div class = "col-md-6 col-sm-6 col-xs-6">
            <p class = "massage_picture left opponent_user_message_box"></strong><%= message.body %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>


<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <div class = "center">
    <%= f.submit "メッセージを送る",class: "btn btn-success"%>
  </div>

<% end %>
