<% if @over_ten %>
  <p class = "center"><%= link_to '以前のメッセージ', '?m=all' %></p>
<% end %>

<div class="container">
  <div class = "row">
    <div class = "col-md-12 col-sm-12 col-xs-12">
      <div class="center">
        <% @messages.each do |message| %>
          <% if message.body %>
            <% user = User.find(message.user_id) %>
          <table>
            <div class = "massage_border">
              <tr>
                <th class = "massage_picture"><%= profile_img(user) %></th>
                <th><strong><%= user.name %></strong></th>
                <th><%= message.message_time %></th>
              </tr>
            </div>
          </table>

            <p class = "massage_content"><%= message.body %></p>

          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <div class = "center">
    <%= f.submit "メッセージを送る",class: "btn btn-success"%>
  </div>

<% end %>
