<div class= "container">
  <div class = "row">
    <div class= "col-md-12 col-sm-12 col-xs-12">
      <h1 class = "mypage-picture center"><%= profile_img(@user) if profile_img(@user) %>
        <%= @user.name %>さんのページです</h1>
        <% if @user.id != current_user.id %>
          <div class="center">
            <!-- <%= link_to @user.name, @user %> -->
            <p class = "mypage-massege"><%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', class:"btn btn-success glyphicon glyphicon-envelope"%></p>
            <p class = "follow"><%= render partial: 'follow_form', locals: { user: @user } if signed_in? %></p>
          </div>
        <% else %>
            <p class = "center"><%= link_to "プロフィール変更へ",edit_user_registration_path %></p>
        <% end %>
      </div>
    </div>

    <div class = "row">
      <div class= "col-md-12 col-sm-12 col-xs-12">
        <div class = "profile center">
          <p class = "center">~~~一言プロフィール~~~</p>
          <p class = "center"><%= @user.profile %></p>
        </div>
      </div>
    </div>

    <div class = "row">
      <div class= "col-md-12 col-sm-12 col-xs-12">

        <ul class="nav nav-tabs">
          <li><a href="#user-event" data-toggle="tab">主催予定イベント</a></li>
          <li><a href="#past-event" data-toggle="tab">過去主催したイベント</a></li>
          <li><a href="#user-join" data-toggle="tab">参加予定イベント</a></li>
          <li><a href="#user-keep" data-toggle="tab">KEEPしたイベント</a></li>
          <li><a href="#user-follower" data-toggle="tab">フォロワー一覧</a></li>
          <li><a href="#user-follwed" data-toggle="tab">フォロー一覧</a></li>
        </ul>

         <div class = "tab-content">

    	    <div class = "tab-pane" id="user-event">
            <div class = "row">
              <% @collections.each do |collection| %>
                <% unless timeover(collection) %>
                  <div class= "event-child col-md-4 col-sm-4 col-xs-12">
                    <%= link_to collection_path(collection) do %>
                    <p><%= truncate(collection.title, length:12) %></p>
                    <p>場所:<%= collection.place %></p>
                    <p>日付:<%= collection.date %></p>
                    <p>開始時間:<%= collection.starttime %></p>
                    <p class = "event-picture"><%= event_img(collection) %></p>
                    <% end %>
                  </div>
                  <% end %>
              <% end %>
            </div>
          </div>

          <div class = "tab-pane" id="past-event">
            <div class = "row">
              <% @collections.each do |collection| %>
                <% if timeover(collection) %>
                  <div class= "event-child col-md-4 col-sm-4 col-xs-12">
                    <%= link_to collection_path(collection) do %>
                    <p><%= truncate(collection.title, length:12) %></p>
                    <p>場所:<%= collection.place %></p>
                    <p>日付:<%= collection.date %></p>
                    <p>開始時間:<%= collection.starttime %></p>
                    <p class = "event-picture"><%= event_img(collection) %></p>
                    <% end %>
                  </div>
                <%end %>
              <% end %>
            </div>
          </div>

      	  <div class = "tab-pane join" id="user-join">
            <div class = "row">
              <% @joins.each do |join| %>
                <%if join.collection && unless timeover(join.collection) %>
                  <div class= "event-child col-md-4 col-sm-4 col-xs-12">
                    <%= link_to collection_path(join.collection.id) do %>
                    <p><%= truncate(join.collection.title, length:12) %></p>
                    <p>場所:<%= join.collection.place %></p>
                    <p>日付:<%= join.collection.date %></p>
                    <p>開始時間:<%= join.collection.starttime %></p>
                    <p class = "event-picture"><%= event_img(join.collection) %></p>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
              <% end %>
            </div>
          </div>

          <div class = "tab-pane keep" id = "user-keep">
            <div class = "row">
              <% @keeps.each do |keep| %>
                <%if keep.collection && unless timeover(keep.collection) %>
                  <div class= "event-child col-md-4 col-sm-4 col-xs-12">
                    <%= link_to collection_path(keep.collection.id) do %>
                    <p><%= truncate(keep.collection.title, length:12) %></p>
                    <p>場所:<%= keep.collection.place %></p>
                    <p>日付:<%= keep.collection.date %></p>
                    <p>開始時間:<%= keep.collection.starttime %></p>
                    <p class = "event-picture"><%= event_img(keep.collection) %></p>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
              <% end %>
            </div>
          </div>

           <div class = "tab-pane followed" id="user-follower">
             <div class = "row">
               <% @followed.each do |follow| %>
                 <div class= "col-md-4 col-sm-4 col-xs-12">
                   <p><%= profile_img(follow) %>
                   <%= link_to user_path(follow.id) do %><%= follow.name %></p><% end %>
                 </div>
               <% end %>
             </div>
           </div>

           <div class = "tab-pane followed" id="user-follwed">
             <div class = "row">
               <% @follows.each do |follow| %>
                 <div class= "col-md-4 col-sm-4 col-xs-12">
                   <p><%= profile_img(follow) %>
                   <%= link_to user_path(follow.id) do %><%= follow.name %></p><% end %>
                 </div>
               <% end %>
             </div>
           </div>
  </div>
