<div class= "container">
  <div class = "row">
    <div class= "col-md-10 col-sm-10 col-sm-offset-1">
      <h1 class = "mypage-picture"><%= profile_img(@user) if profile_img(@user) %>
        <%= @user.name %>さんのページです</h1>

        <% if current_user.id != @user.id %>
          <p><%= render 'follow_form', user: @user %></p>
        <% end %>
        
      <ul class="nav nav-tabs">
       	<li><a href="#user-event" data-toggle="tab">主催予定イベント</a></li>
        <li class="active"><a href="#past-event" data-toggle="tab">過去主催したイベント</a></li>
       	<li class="active"><a href="#user-join" data-toggle="tab">参加予定イベント</a></li>
        <li class="active"><a href="#user-keep" data-toggle="tab">KEEPしたイベント</a></li>
        <li class="active"><a href="#user-follwed" data-toggle="tab">フォロー一覧</a></li>
        <li class="active"><a href="#user-follower" data-toggle="tab">フォロワー一覧</a></li>
      </ul>
      <div class = "tab-content">
	    <div class = "tab-pane" id="user-event">
        <% @collections.each do |collection| %>
          <% unless timeover(collection) %>
            <p><%= link_to collection_path(collection.id) do %>「<%= collection.title %>」</p>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class = "tab-pane" id="past-event">
        <% @collections.each do |collection| %>
          <% if timeover(collection) %>
            <p><%= link_to collection_path(collection.id) do %>「<%= collection.title %>」</p>
            <% end %>
          <%end %>
        <% end %>
      </div>
  	  <div class = "tab-pane join" id="user-join">
        <% @joins.each do |join| %>
            <%= link_to collection_path(join.collection.id) do %><p>「<%= join.collection.title %>」</p>
            <% end %>
        <% end %>
      </div>
      <div class = "tab-pane keep" id = "user-keep">
        <% @keeps.each do |keep| %>
          <%= link_to collection_path(keep.collection.id) do %><p>「<%= keep.collection.title %>」</p>
          <% end %>
        <% end %>
      </div>
      <div class = "tab-pane followed" id="user-follwed">
        <% @follows.each do |follow| %>
          <p><%= profile_img(follow) %>
            <%= link_to user_path(follow.id) do %><%= follow.name %></p><% end %>
        <% end %>
      </div>
       <div class = "tab-pane followed" id="user-follower">
         <% @followed.each do |follow| %>
           <p><%= profile_img(follow) %>
           <%= link_to user_path(follow.id) do %><%= follow.name %></p><% end %>
         <% end %>
       </div>
     </div>
   </div>
</div>
