<div class="container">
  <div class="wrapper col-md-4 col-md-offset-4 col-sm-10">

    <h1 class = "main-title">circle</h1>

    <%= alert %>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <p class = "devise-mail"><%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="check_box">
          <p><%= f.check_box :remember_me %>
          <%= f.label :内容を記憶させる %></p>
        </div>
      <% end %>

      <div class="actions">
        <p><%= f.submit "ログイン", class: "btn btn-primary btn-success btn-block" %></p>
      </div>
    <% end %>
      <h4 class = "twitter"><%= link_to "twitterログイン", user_twitter_omniauth_authorize_path,class: "btn btn-info btn-block" %></h4>
      <h4 class = "facebook"><%= link_to "facebookログイン",  user_facebook_omniauth_authorize_path,class:"btn btn-primary btn-block"%></h4>
      <h4 class = "forget_password"><%= link_to "パスワードをお忘れの方",new_user_password_path %></h4>
      <h4><%= link_to "新規会員登録",new_user_registration_path %>
      </div>
</div>
