<h3>※参加者一覧</h3>
<% if collection.join_users.count <= 5 %>
  <table>
    <% collection.join_users.each do |user| %>
      <tr>
        <th><%= profile_img(user) %></th>
        <td><%= link_to user_path(user.id) do %><%= user.name %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% elsif collection.join_users.count > 5 %>
  <table>
    <% collection.join_users.first(5).each do |user| %>
      <tr>
        <th><%= profile_img(user) %></th>
        <td><%= link_to user_path(user.id) do %><%= user.name %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <p><%= link_to "参加者全員を見にいく", collection_joins_path(collection), class:"glyphicon glyphicon-info-sign" %></p>
<% end %>
