<!DOCTYPE html>
<html>
<head>
  <title>Circle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<% if user_signed_in? %>
<nav class="navbar navbar-default">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
    <span class="sr-only">B</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div id="gnavi" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to "ホーム", root_path,class: 'glyphicon glyphicon-home' %></li>
      <li><%= link_to "新規投稿", new_collection_path,class: 'glyphicon glyphicon-pencil', method: :get %></li>
      <li><%= link_to "一覧", collections_path,class: 'glyphicon glyphicon-list-alt' %></li>
      <li><%= link_to 'プロフィール', edit_user_registration_path,class: 'glyphicon glyphicon-user' %></li>
      <li><%= link_to 'マイページ', user_path(current_user), class: 'glyphicon glyphicon-book' %>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete,class: 'glyphicon glyphicon-off' %></li>
      <li><%= link_to "メッセージ", conversations_path, class: "glyphicon glyphicon-envelope" %></li>
    </ul>
  </div>
</nav>

<% end %>
<%= yield %>

</body>
</html>
