<!DOCTYPE html>
<html>
<head>
  <title>Circle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header>
      <ul>
        <li><%= link_to "ホーム", root_path,class: 'glyphicon glyphicon-home' %></li>
         <% if user_signed_in? %>
           <li><%= link_to "新規投稿", new_collection_path,class: 'glyphicon glyphicon-pencil' %></li>
           <li><%= link_to "一覧", collections_path,class: 'glyphicon glyphicon-list-alt' %></li>
           <li><%= link_to 'マイページ', edit_user_registration_path,class: 'glyphicon glyphicon-user' %></li>
           <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete,class: 'glyphicon glyphicon-off' %></li>
           <li><%= link_to 'ユーザー一覧', users_path, class: "glyphicon glyphicon-globe"%></li>
         <% else %>
           <li><%= link_to 'ログイン', new_user_session_path,class: 'glyphicon glyphicon-off' %></li>
           <li><%= link_to 'サインアップ', new_user_registration_path,class: 'glyphicon glyphicon-globe' %></li>
         <% end %>
         <li class = "search"><%= form_tag collections_path, :method => 'get' do %>
              <%= text_field_tag :search, params[:search],placeholder: "イベント名" %>
              <%= submit_tag "検索", :title => nil %></li>
         <% end %>
      </div>
    </ul>
  </header>
<%= yield %>

</body>
</html>
