<!DOCTYPE html>
<html>
<head>
  <title>Circle</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

   <script src="https://js.pusher.com/4.1/pusher.min.js"></script>


   <% if user_signed_in? %>
     <script>
       var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>',{
         encrypted: true,
         cluster: 'ap1'
       });

       var channel = pusher.subscribe("user_<%= current_user.id %>_channel");

       channel.bind('join_created' , function(data) {
         alert(data.message);
       });
       channel.bind('comment_created' , function(data) {
         alert(data.message);
       });
       channel.bind('message_created' , function(data) {
         alert(data.message);
       });

       channel.bind('notification_created', function(data) {
         $('#unread_count').html(data.unread_counts);
       });

     </script>
   <% end %>
</head>

<body>
<% if user_signed_in? %>
  <nav class="navbar navbar-default">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
      <span class="sr-only">B</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to notifications_index_path, class: "navbar-brand" do%>
        <i class="fa fa-bell fa-1x"><span id="unread_count"><%= @notifications_count %></span></i>
    <% end %>
    <div id="gnavi" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "ホーム", root_path,class: 'glyphicon glyphicon-home' %></li>
        <li><%= link_to "新規投稿", new_collection_path,class: 'glyphicon glyphicon-pencil', method: :get %></li>
        <li><%= link_to "一覧", collections_path,class: 'glyphicon glyphicon-list-alt' %></li>
        <li><%= link_to 'プロフィール', edit_user_registration_path,class: 'glyphicon glyphicon-user' %></li>
        <li><%= link_to 'マイページ', user_path(current_user), class: 'glyphicon glyphicon-book' %></li>
        <li><%= link_to "メッセージ", conversations_path, class: "glyphicon glyphicon-envelope" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete,class: 'glyphicon glyphicon-off' %></li>
      </ul>
    </div>
  </nav>

  
<% end %>
<%= yield %>

</body>
</html>
